/* Page 1 css */
.w2-h1{
    width: 200px;
    min-height: 100px;
}
.w6-h3{
    width: 600px;
    min-height: 300px;
}
.container{
    border: 5px dashed red;
    padding:  10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.element{
    border: 2px solid blue;
}
.block-list{
    border: 5px solid red;
    background-image: url(images/bgrct.png);
    background-size: cover;
  
    /*  */

    /* background-attachment: fixed;
      background-repeat: no-repeat;
    background-position: center  center; */
}
.block{
    border: 2px solid green;
    box-sizing: border-box;
    
   
    margin: 40px auto;
}
/* Position*/
.pos-element{
    width: 200px;
    height: 140px;
}
.p1{
    background-color: orange;
}
.p2{
    background-color: green;
    position: relative;
    left: 50px;
    bottom: 20px ;
}
.p3{
    background-color: blue;
}

/* index.html */

.ls{
    list-style: none;
    list-style-image:url(images/OIP.jpg) ;
    list-style-position: inside;
}


.sign {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
    font-family: 'Lora', serif;
    font-family: 'Square Peg', cursive;
    font-family: 'Updock', cursive;
}
/* Text type */
.style1{
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    color:  rgb(34,23,255  )

}
.style2{
    font-size: 42px;
    text-decoration: line-through;
    color: blue;
    opacity: 0.8;
}
.nav-block {
    height: 70px;
    width: 400px;
    background: black;
}
.nav-item{
    color: white;
    text-align: center;
    line-height: 70px;
}
.fwb{
    font-weight: 700;

}
.color-red{
    font-weight: 700;
    color: red;
}
#ci-selector{
    font-style: italic;
}
/* Float */
.float-left-block{
    width: 30%;
    height: 70px;
    background-color: #f00;
    float:left;
}
.float-right-block{
    width: 70%;
    height: 70px;
    background-color: #0f0;
    float:right;
}
.float-text-2{
    clear: both;
}